* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
}



.container {
    width: 100%;
    height: 100vh;
    background: rgb(131,58,180);
    background: -moz-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: #3a4452;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input {
   
    border: 0;
    outline: 0;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    box-shadow: -8px -8px 15px rgba(57, 19, 19, 0.1) , 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 10px;
    background-color: #1b2f38;
}



form .display {
    display: flex;
    justify-content: flex-end;
    /* background-color: magenta; */
    border-radius: 20px ;
    margin: 20px 0;
}

form .display input {
    text-align: right;
    flex: 1;
    /* background-color: magenta;  */
    height: 60px;
    font-size: 30px;
    box-shadow: none;
}

form input.equals {
    width: 125px;
}

form input.operator {
    color: #aa00a4;
    background-color: #2e1f39;
}